@using ApplyUni.Models;
@{
    ViewBag.Title = "login";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="icon" type="image/png" href="~/Areas/Public/assets/images/logo.png">
    <!-- App css -->
    <link href="~/Areas/Public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Public/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Public/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Public/assets/css/style.css" rel="stylesheet" type="text/css" />
    <script src="~/Areas/Public/assets/js/modernizr.min.js"></script>
</head>

<body class="bg-accpunt-pages">
    <!-- HOME -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="wrapper-page">
                        <div class="account-pages">
                            <div class="account-box">
                                <div class="account-logo-box">
                                    <h2 class="text-uppercase text-center">
                                        <a href="index.html" class="text-success">
                                            <span><img src="~/Areas/Public/assets/images/logoUps.png" alt="" height="18"></span>
                                        </a>
                                    </h2>
                                    <h6 class="text-uppercase text-center font-bold mt-4">Sign In</h6>
                                </div>
                                <div class="account-content">
                                    <form class="form-horizontal" method="post" action="@Url.Action("Login","Home")">
                                        <div class="form-group m-b-20 row">
                                            <div class="col-12">
                                                <label for="emailaddress">Email address</label>
                                                <input class="form-control" name="email" type="email" id="emailaddress" required="" placeholder="Enter your email">
                                            </div>
                                        </div>
                                        <div class="form-group row m-b-20">
                                            <div class="col-12">
                                                <label for="password">Password</label>
                                                <input class="form-control" name="password" type="password" required="" id="password" placeholder="Enter your password">
                                            </div>
                                        </div>
                                        @if (Session["LoginValid"] != null)
                                        {
                                            Session["LoginValid"] = null;
                                            <div class="alert alert-info">
                                                Username or pass is wrong
                                            </div>
                                        }
                                        <div class="form-group row text-center m-t-10">
                                            <div class="col-12">
                                                <button class="btn btn-block btn-gradient waves-effect waves-light" type="submit">Sign In</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- end card-box-->

                    </div>
                    <!-- end wrapper -->
                </div>
            </div>
        </div>
    </section>
    <!-- END HOME -->
    <!-- jQuery  -->
    <script src="~/Areas/Public/assets/js/jquery.min.js"></script>
    <script src="~/Areas/Public/assets/js/popper.min.js"></script>
    <script src="~/Areas/Public/assets/js/bootstrap.min.js"></script>
    <script src="~/Areas/Public/assets/js/metisMenu.min.js"></script>
    <script src="~/Areas/Public/assets/js/waves.js"></script>
    <script src="~/Areas/Public/assets/js/jquery.slimscroll.js"></script>
    <!-- App js -->
    <script src="~/Areas/Public/assets/js/jquery.core.js"></script>
    <script src="~/Areas/Public/assets/js/jquery.app.js"></script>
</body>
</html>

