@model ApplyUni.Models.study_field

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Back/Views/Shared/_LayoutAdmin.cshtml";
}


    <h4 style="margin-top: 65px;">Details</h4>

    <div>
        <hr />
        <dl class="dl-horizontal" style="margin-left: 20px;">
            <dt>
               Field name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.field_name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
